.field {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 8px;
  margin-bottom: 8px;
}

.label {
  min-width: 150px;
}

.input {
  flex-grow: 1;
}

.input input {
  height: 56px;
  width: 100%;
  padding: 16px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.error { 
  color: red;
  font-size: 14px;
  padding: 8px 16px;
}
